<div class="container">
  <div class="category">
    <button class="categories">Favorties</button>
    <button class="childs">Inbox</button>
    <button class="childs">Sent Item</button>
    <button class="catelories">John</button>
    <button class="childs">Inbox</button>
    <button class="childs">Sent Item</button>
  </div>
  <div class="emails">
    <div>
      <div class="image">
        <img src="#" width="100%" height="76px"/>
      </div>
      <div class="content">
        <p>Name</p>
        <p>content</p>
        <p>Subject</p>
      </div>
    </div>
  </div>
</div>
