<div class="row">
    <div class="col-md-12">
      <div class="col-md-3"><a>Sess</a></div>
      <div class="col-md-3"><a>In Progress</a></div>
      <div class="col-md-3"><a>In Review</a></div>
      <div class="col-md-3"><a>Done</a></div>
    </div>
    <div class="col-md-12 my-content">
      <div class="col-md-3">
        <div>{{contents[0].tieu_de}}</div>
        <div>{{contents[0].noi_dung}}</div>
        <br>
      </div>

      <div class="col-md-3">
        <div>{{contents[1].tieu_de}}</div>
        <div>{{contents[1].noi_dung}}</div>
        <br>
      </div>

      <div class="col-md-3">
        <div>{{contents[2].tieu_de}}</div>
        <div>{{contents[2].noi_dung}}</div>
        <br>
      </div>

      <div class="col-md-3">
        <div>{{contents[3].tieu_de}}</div>
        <div>{{contents[3].noi_dung}}</div>
        <br>
      </div>
    </div>
</div>
